[ptr]
entry_point_module = ptr
test_suite = ptr_tests
test_suite_extras = ptr_tests_fixtures.py setup.py ptrconfig.sample
test_suite_timeout = 120
# `required_coverage_` will be stripped for use
required_coverage_ptr.py = 84
required_coverage_TOTAL = 90
run_black = true
run_mypy = true
run_flake8 = true
run_pylint = true
