[ptr]
entry_point_module = ptr
test_suite = ptr_tests
test_suite_timeout = 300
# TODO: Make this more ini like? - Big JSON will get U G L Y
required_coverage = {"ptr.py": 84, "TOTAL": 90}
run_black = true
run_mypy = true
