name: ptr_ci

on: [push, pull_request]

jobs:
  build:
    name: Running python ${{ matrix.python-version }} on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        os: [macOS-latest, ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3.1.0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Print Python Version
      run: python --version --version && which python

    - name: Update pip, setuptools + wheels
      run: |
        python -m pip install --upgrade pip setuptools wheel

    - name: Run Unitests via coverage
      run: |
        python -m pip install . coverage
        coverage run ptr_tests.py -v

    - name: Show coverage
      run: |
        coverage report

    - name: Run ptr CI
      env:
       PTR_INTEGRATION: 1
       pythonioencoding: utf-8
      run: |
        python -m pip install -r requirements.txt
        python ci.py
