name: ptr_ci_latest
 
on: [push, pull_request]
 
jobs:
  build:
    name: ptr latest CI on python ${{ matrix.python-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.12-dev]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v3.2.0
      - uses: deadsnakes/action@v3.0.0
        with:
          python-version: ${{ matrix.python-version }}
          debug: true
 
      - name: Print Python Version
        run: python --version --version && which python
 
      - name: Install latest pip, setuptools + wheel
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Run Unitests via coverage
        run: |
          python -m pip install . coverage
          coverage run ptr_tests.py -v

      - name: Show coverage
        run: |
          coverage report

      - name: Run ptr CI
        env:
         PTR_INTEGRATION: 1
         pythonioencoding: utf-8
        run: |
          python -m pip install -r requirements.txt
          python ci.py
